@keyframes glowPulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0px rgba(187, 134, 252, 0.5);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(187, 134, 252, 0.8);
    opacity: 0.9;
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0px rgba(187, 134, 252, 0.5);
    opacity: 1;
  }
}

.track__playingDot {
  width: 16px;
  height: 16px;
  background-color: #bb86fc;
  border-radius: 50%;
  animation: glowPulse 2s ease-in-out infinite;
}

.track__currentDot {
  width: 16px;
  height: 16px;
  background-color: #bb86fc;
  border-radius: 50%;
  animation: pulse 2s ease-in-out infinite;
}

.playlist__item {
  width: 100%;
  display: block;
  margin-bottom: 12px;
}

.playlist__track {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.track__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 447px;
}

.track__titleImage {
  width: 51px;
  height: 51px;
  padding: 16px;
  background: #313131;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 17px;
}

.track__titleSvg {
  width: 18px;
  height: 17px;
  fill: transparent;
  stroke: #4e4e4e;
}

.track__titleLink {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.track__author {
  width: 321px;
  display: flex;
  justify-content: flex-start;
}

.track__authorLink {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  text-align: left;
}

.track__album {
  width: 245px;
}

.track__albumLink {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #696969;
}

.track__time {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.track__timeSvg {
  width: 14px;
  height: 12px;
  margin-right: 17px;
  fill: transparent;
  stroke: #696969;
  cursor: pointer;
  position: relative;
}

.track__timeText {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #696969;
}

/* Стили для авторизованных пользователей */
.track__timeSvgAuth {
  cursor: pointer;
}

.track__timeSvgAuth:hover {
  stroke: #acacac;
}

.track__timeSvgLiked {
  stroke: #b672ff;
  fill: #b672ff;
}

.track__timeSvgLiked:hover {
  stroke: #9a48f1;
  fill: #9a48f1;
}

/* Стили для неавторизованных пользователей */
.track__timeSvgNotAuth {
  cursor: not-allowed;
}

.track__timeSvgNotAuth::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -2px;
  right: -2px;
  height: 1px;
  background-color: #696969;
  transform: rotate(-45deg);
  z-index: 1;
}

.track__timeSvgNotAuth:hover {
  stroke: #696969;
}